/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESET */

/* BRANDING COLORS */

$teal: #1D8489;


#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $teal;
}

#drum-machine {
  height: 70%;
  width: 60%;
  border: 4px solid black;
  display: flex;
  align-items: center;
  background-color: white;
  #display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
    width: 60%;
    gap: 10px;
    .keyPad {
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
    } 
  }
}

#padContainer {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controlPanel {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#changeBank {
  padding: 10px;
  border: 1px solid $teal;
  cursor: pointer;
  margin-top: 24px;
  transition: all 0.5 ease-in-out;
}

#changeBank:hover {
  background-color: #701d89a1;
  border: 2px solid white;
  color: white;
  font-size: bold;
  transform: scale(1.1)
}